<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>R2</title>
    {% block head_meta %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}
    {% block head_css %}
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/datatables.net-select-bs/css/select.bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" type="text/css">
        <link href="/bower_components/nestable2/jquery.nestable.css" rel="stylesheet">
        <link href="/assets/gentelella/custom.css" rel="stylesheet">
        <link href="/assets/app.css" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
    {% block head %}
    {% endblock %}
    {% block head_tail %}
    {% endblock %}
  </head>
  <body class="nav-md">
      <div class="container body">
          <div class="main_container">
            {% block page_body %}
              {% block body %}{% endblock %}
            {% endblock %}

            {% block tail_js %}
                <script src="/bower_components/jquery/dist/jquery.min.js"></script>
                <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
                <script src="/bower_components/select2/dist/js/select2.full.min.js"></script>
                <script src="/bower_components/moment/min/moment.min.js"></script>
                <script src="/assets/bootstrap-daterangepicker/daterangepicker.js"></script>
			    <script src="/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
                <script src="/assets/socket.io/socket.io.js"></script>
                <script src="/assets/kpcNoti.js"></script>
                <script src="/assets/util.js"></script>
                <script src="/assets/popupUtil.js"></script>
                <script src="/assets/custom.js"></script>
            {% endblock %}
          </div>
      </div>

      {% block tail %}
      {% endblock %}
      {% include 'views/pages/notification/approval-notification-modal.html' %}
  {% block footer %}
  {% endblock %}
  </body>
</html>