<!-- extend base layout -->
{% extends "views/master.html" %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>사용자 관리</h3>
                <h5><span class="red">[홈 > 시스템 관리 > 사용자 관리]</span></h5>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content form">
                        <form action="javascript:nothing()" id="employeeMng" class="form-bordered ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">- 검색 조건 </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" for="first-name">사원명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline">
										<input type="text" id="name" name="name" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" for="first-name">부서별</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 ">
	                                    <select class="select2_single select2-selection--single form-control" id="divisionId" name="divisionId" >
	                                        <option value="">전체</option>
	                                    </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12" for="first-name">팀별</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
	                                    <select class="select2_single select2-selection--single form-control" id="teamId" name="teamId" >
	                                        <option value="">전체</option>
	                                    </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <table id="employeeMngTable" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>사번</th>
                                    <th>부서</th>
                                    <th>팀</th>
                                    <th>이름</th>
                                    <th>직위</th>
                                    <th>상세</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block tail %}
    <!-- datatable lib-->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript">

        var merchant_inq = function () {
        	var table = {};

            var setCommonCode = function (){
      			kpcUtil.setSelectBoxData({
            		target : [
            			 "#divisionId",
            			 "#teamId",
            		], 
            		apiUrl : "/api/systemMng/common/commonCodeList",
            		params : {type : 'DIV,TEAM'},
            		type   : "GET",
            		option : {width : 150},	
            		callBack : function (data,target,option){
            			for(var idx in data){
            				for(var idx2 in data[idx].resultList){
	            				$(target[idx]).append($("<option></option>")
	            						.attr("value" , data[idx].resultList[idx2].code)
	            						.text(data[idx].resultList[idx2].codeName));
            				}
            				$(target[idx]).select2(option);       
            			}
            			setDataTable();
            		}
            	});           			
            }               
            var setDataTable = function () {
                table = $('#employeeMngTable')
                    .on('click', '.det', function () {
                    		location.href = "/systemMng/employees/employeeDetail?employeeId=" + $(this).attr("employeeId");
                    })                
                    .dataTable(
                        {
                            "processing": true,
                            "serverSide": true,
                            "ajax": {
                                "url": "/api/systemMng/employees",
                                "async" : "true",
                                "data": function (parameter) {
                                    parameter.formData = $("#employeeMng").serializeObject();
                                },
                                "error" : function (e){kpcUtil.sessionExpire(e);}
                            },
                            "ordering": false,
                            "drawCallback": function (settings) {
                                for (var i = 0, iLen = settings.aiDisplay.length; i < iLen; i++) {
                                    $('td:eq(0)', settings.aoData[settings.aiDisplay[i]].nTr).html(i + 1 + settings._iDisplayStart);
                                    settings.json.data[i].rownum = i + 1 + settings._iDisplayStart;
                                 // 상세보기 버튼
                                    // 수정 버튼
                                    var detailButton = '<button class="btn btn-sm green btn-outline filter-submit margin-bottom-0 det" ';
                                		detailButton += 'employeeId="' + settings.json.data[i].employeeId+ '" >';
                                 		detailButton += '<i class="fa fa-search"></i>상세 보기</button>';
                                    $('td:eq(6)', settings.aoData[settings.aiDisplay[i]].nTr).html(detailButton);
                                }
                            },
                            columns: [
                                {data: "rownum", defaultContent: "", width : 80, className: "column-align-right"}, // 순번
                                {data: "employeeId", defaultContent: "",  className: "column-align-center"},                    // 사번
                                {data: "divisionName", defaultContent: "",className: "column-align-center"},                   // 부서
                                {data: "teamName", defaultContent: "",className: "column-align-center"},                // 팀
                                {data: "name", defaultContent: "",className: "column-align-center"},                 // 이름
                                {data: "positionName", defaultContent: "", className: "column-align-center"},   // 직위
                                {data: "detail", defaultContent: "", width: 110, className: "column-align-center"},     // 상세
                            ],
                            buttons: [
/*                                 {extend: 'excel', className: 'btn yellow btn-outline ', footer: true}, */
                                {
                                    text: '등록',
                                    className: 'btn green btn-outline ',
                                    action: function (e, dt, node, config) {
                           				location.href="/systemMng/employees/employeeReg";
                                    }
                                },
								{
                                    text: '조회',
                                    className: 'btn green btn-outline ',
                                    action: function (e, dt, node, config) {
                                        table.fnFilter();
                                    }
                                }
                            ],
                            "lengthMenu": [[10, 20, 30, 50, 200], [10, 20, 30, 50, 200]],
                            "pageLength": 10,
                            "dom": "<'row' <'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'B>><'table-scrollable'tr><'row'<'col-md-6 col-sm-6'i><'col-md-6 col-sm-6'p>>",
                            responsive: true,
                            "language": {
                                "aria": {
                                    "sortAscending": ": activate to sort column ascending",
                                    "sortDescending": ": activate to sort column descending"
                                },
                                "info":"Total Record: _TOTAL_ Page : _PAGE_ / _PAGES_ ",
                                "emptyTable": "조회된 자료가 없습니다.",
                                "infoEmpty": "조회된 자료가 없습니다.",
                                "lengthMenu": "_MENU_",
                                "zeroRecords": "조회된 자료가 없습니다."
                            },
                        }
                    );
            }
            
            var setPageEvents = function (){
    			// 조회 이벤트
            	kpcUtil.serachFormEvent({
            		selects : "#employeeMng select",
            		inputs : "#employeeMng input",
            		callback : function (){
            			table.fnFilter();
            		}
            	});              	
            }

            return {
                init : function (){
                	setCommonCode();
                	setPageEvents();
                }
            }
        }

        $(document).ready(function () {
            merchant_inq().init();
        });
    </script>
{% endblock %}