<!-- extend base layout -->
{% extends "views/master.html" %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>KCON 상품 등록</h3>
                <h5><span class="red">[홈 > 쿠폰 관리 > KCON 상품 등록]</span></h5>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content form ">
                    	<input type="hidden" name="beforeApprEmpId" id="beforeApprEmpId">
                        <form action="#" id="couponForm" class="form-bordered ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                </div>
                            </div>	                        
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" >상품 ID</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline">
										<input type="text" id="id" name="id" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" >상품명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="title" name="title" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" ><b>[쿠폰 상품 속성]</b></label>
                                </div>
                            </div>	                        
                        	<div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">상품유형</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 md-radio-inline">
                                    	<div class="md-radio">
                                    		<input type="radio" id="type1" name="type" value="PRTY-0001" checked="checked">
                                    		<label for="type1">
                                    			<span></span>
                                    			<span class="check"></span>
                                    			<span class="box"></span>
                                    			충전쿠폰
                                    		</label>
                                    	</div>      
                                    	<div class="md-radio">
                                    		<input type="radio" id="type2" name="type" value="PRTY-0002">
                                    		<label for="type2">
                                    			<span></span>
                                    			<span class="check"></span>
                                    			<span class="box"></span>
                                    			교환쿠폰
                                    		</label>
                                    	</div>     
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">상품유형상세</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
	                                    <select class="form-control" id="typeDetail" name="typeDetail" >
	                                    </select>                                         
                                    </div>
                                </div>	                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">권종</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
                                        <input type="text" id="amount" name="amount" class="form-control col-md-7 col-xs-12">
                                        <span class="table-span-vertical">&nbsp;원</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">유효기간 설정</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
                                        <span class="span-float-left">
		                                    <select class="form-control" id="expireDaysType" name="expireDaysType" >
		                                    </select>                                     
                                        </span>
                                        <span class="span-float-left-margin">발행일로부터</span>
                                        <span class="span-unput-float-left">
											&nbsp;<input type="text" id="expireDays" name="expireDays" class="form-control input-xxsmall" maxlength="5">
										</span>
                                        <span class="span-float-left-margin" id="dateTypeText">&nbsp;일</span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">사용처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
	                                    <select class="form-control" id="usage" name="usage" >
	                                    	<option value="전체">전체</option>
	                                    	<option value="온라인">온라인</option>
	                                    	<option value="오프라인">오프라인</option>
	                                    </select>                                                                            
                                    </div>
                                </div>                                            
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">상품등록자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="registrator" name="registrator" class="form-control col-md-7 col-xs-12" readonly="readonly" value="{{session['empId']}}">
                                    </div>
                                </div>            
                           	</div>
                        </form>
	                    <br />
	                    <div class="column-align-right">
	                    	{% if (admin_view.pageAuth["insFlag"] == "1") and (admin_view.updateApproval == "false") %}
							<button id="createApprovalRequestBtn" class="dt-button btn green btn-outline">등록</button>
							{% elif (admin_view.pageAuth["insFlag"] == "1") and (admin_view.updateApproval == "true") %}
							<button id="updateApprovalInfoBtn" class="dt-button btn green btn-outline">등록</button>
							{% endif %}
	                    </div>                                
                    </div>		
				</div>
			</div>
		</div>                      	
	</div>
</div>

<!-- 승인요청 modal include -->
{% include 'views/pages/common/approval/popup/approval-request-create-modal.html' %}
{% include 'views/pages/common/approval/popup/approval-request-info-update-modal.html' %}

{% endblock %}

{% block tail %}
    <!-- datatable lib-->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/assets/js/approval/approval.js"></script>        
    <script type="text/javascript">

        var couponMng = function () {
        	
        	var typeDetailCPCData = {};
        	var typeDetailCPTData = {};
        	
        	var kconType;
        	
        	var setSelectBox = function (){
        		$("#usage").select2();
        	}
            var setCommonCode = function (){
      			kpcUtil.setSelectBoxData({
            		target : [
            			 "#expireDaysType"
            		], 
            		apiUrl : "/api/systemMng/common/commonCodeList",
            		params : {type : 'DATE'},
            		type   : "GET",
            		option : {width : 80},	
            		callBack : function (data,target,option){
            			for(var idx in data){
            				for(var idx2 in data[idx].resultList){
	            				$(target[idx]).append($("<option></option>")
	            						.attr("value" , data[idx].resultList[idx2].code)
	            						.text(data[idx].resultList[idx2].codeName));
            				}
            				$(target[idx]).select2(option);       
            			}
            		}
            	});
      			kpcUtil.setSelectBoxData({
            		target : [
            			 "#typeDetail",
            		], 
            		apiUrl : "/api/systemMng/common/commonCodeList",
            		params : {type : 'CPC,CPT'},
            		type   : "GET",
            		option : {width : 150},	
            		callBack : function (data,target,option){
            			typeDetailCPCData = data[0];
            			typeDetailCPTData = data[1];
            			settypeDetail(typeDetailCPCData);
            			
            			if (kconType !== undefined) {
               				$('input:radio[name=type]:input[value='+kconType+']').attr("checked", true);
		       				if(kconType === "PRTY-0001"){
		       					settypeDetail(typeDetailCPCData);
		       				}else{
		       					settypeDetail(typeDetailCPTData);
		       				}
            			}
            		}
            	});
            }
            
            var settypeDetail = function (data){
            	$("#typeDetail").html('');
				for(var idx in data.resultList){
    				$("#typeDetail").append($("<option></option>")
    						.attr("value" , data.resultList[idx].code)
    						.text(data.resultList[idx].codeName));
				}
				$("#typeDetail").select2({width : 120});                   	
            }
            
            var setPageEvents = function (){
           		$("select[name=expireDaysType]").change(function (){
           			if($(this).val() == "DATE-0001"){
           				$("#dateTypeText").html("&nbsp;일");
           			}else if($(this).val() == "DATE-0002"){
           				$("#dateTypeText").html("&nbsp;개월");
           			}else if($(this).val() == "DATE-0003"){
           				$("#dateTypeText").html("&nbsp;년");
           			}
           		});
           		$("input[name=type]").change(function (){
       				if($(this).val() == "PRTY-0001"){
       					settypeDetail(typeDetailCPCData);
       				}else{
       					settypeDetail(typeDetailCPTData);
       				}
           		});
           	}
            
            var setFormValidate = function (){
                $("#couponForm").validate({
                    errorElement: 'span', //default input error message container
                    errorClass: 'help-block help-block-error', // default input error message class
                    rules: {
                    	title : {
                            required : true
                        },
                        amount : {
                            required : true,
                        	number : true
                        },
                        expireDays : {
                            required : true
                        },
                        expireDaysType : {
                            required : true
                        }
                    },
                    messages : {
                    	title : {
                            required : "상품명을 입력해주세요."
                        },
                        amount : {
                            required : "권종을 선택해주세요."
                        },
                        expireDays : {
                        	required : "유효기간을 입력해주세요."
                        },
                        expireDaysType : {
                        	required : "유효기간 타입을 선택해주세요."
                        }
                    },
                    errorPlacement : function (error , element){
                    	var icon = $(element).parent(".input-icon").children('i');
                    	icon.removeClass('fa-check').addClass("fa-warning");
                    	icon.attr("data-original-title" , error.text()).tooltip({"container" : "body"});
                    },
                    highlight: function (element) { // hightlight error inputs
                       	$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
                    }, 
                    success : function (label,element){
                    	var icon = $(element).parent(".input-icon").children('i');
                    	$(element).closest(".form-group").removeClass("has-error").addClass("has-success");
                    	icon.removeClass('fa-warning').addClass("fa-check");
                    },
                });

            }            
           	
            var setFormData = function() {
                setFormValidate();
            	if(("{{admin_view.reApproval}}" === "true") || ("{{admin_view.updateApproval}}" === "true")) {
    	    		$.ajax({
    	                url: "/api/approvals/detail/"+"{{admin_view.apprSeq}}",
    	                type:'GET',
    	                dataType : "json",
    	                contentType  : "application/json",
    	            }).done(function(result){
    	            	if (result.status === 200) {
	    	            	
    	            		approvalInfo = result.data.approvalInfo;
	   	            		$("#beforeApprEmpId").val(approvalInfo.apprEmpId);
	    	            	
    	            		var brochure = result.data.content.brochure;
	    	            	console.log(brochure)
	    	            	$("#title").val(brochure.title);
	    	            	$("#amount").val(brochure.amount);
	    	            	$("#expireDays").val(brochure.expireDays);
	    	            	$("#registrator").val(brochure.createId);

	    	            	$("#usage").val(brochure.usage).trigger("change");
	    	            	kconType = brochure.type;
    	        			setCommonCode();
                    	}
    	            	
                    	$("#couponForm").valid();
    	            	
    	            }).fail(function(e){
    	        		kpcUtil.errorHandling(e);
    	      	    });
            	}
            	else {
                    setCommonCode();
            	}
                setPageEvents();
            }
            
            return {
                init : function (){
                	setSelectBox();
                	setFormData();
                }
            }
        }

        $(document).ready(function () {
            couponMng().init();
            approvalReuestCreateModal("couponForm", "MENU-0003", "AWRK-0009"); //승인 요청 모달
            approvalReuestInfoUpdateModal("{{admin_view.apprSeq}}", "couponForm", "MENU-0003", "create", "AWRK-0009"); //승인 대기중인 정보 수정 모달
        });
    </script>
{% endblock %}
