<!-- extend base layout -->
{% extends "views/master.html" %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>사용자별 메뉴 관리</h3>
                <h5><span class="red">[홈 > 시스템 관리 > 사용자 권한 관리]</span></h5>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content form">
                        <form action="#" id="userMenuMngForm" class="form-bordered ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >- 검색 조건 </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" >최상위 메뉴</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline">
	                                    <select class="select2_single select2-selection--single form-control" id="parMenuId" name="parMenuId" >
	                                    	<option value="">전체</option>
	                                    </select>                                    
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" >메뉴명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline">
										<input type="text" id="menuName" name="menuName" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-3 col-xs-12" >사원번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-9 col-xs-12 form-inline">
										<input type="text" id="empId" name="empId" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <table id="menuMngTable" class="table table-striped table-bordered" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>메뉴ID</th>
                                    <th>메뉴명</th>
                                    <th class="column-align-center">
                                   		조회권한
                                   		<br />
                                    	<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    		<input type="checkbox" class="group-checkable selGroup" data-set="#menuMngTable .selCheckboxes" />
                                    		<span></span>
                                    	</label>
                                    </th>                                    
                                    <th class="column-align-center">
                                    	등록권한
                                    	<br />
                                    	<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    		<input type="checkbox" class="group-checkable insGroup" data-set="#menuMngTable .insCheckboxes" />
                                    		<span></span>
                                    	</label>                                    
                                   	</th>
                                    <th class="column-align-center">
	                                    수정권한
	                                    <br />
                                    	<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    		<input type="checkbox" class="group-checkable updGroup" data-set="#menuMngTable .updCheckboxes" />
                                    		<span></span>
                                    	</label>                                    
                                    </th>
                                    <th class="column-align-center">
                                    	삭제권한
                                    	<br />
                                    	<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    		<input type="checkbox" class="group-checkable delGroup" data-set="#menuMngTable .delCheckboxes" />
                                    		<span></span>
                                    	</label>                                    
                                    </th>
                                    <th class="column-align-center">
                                    	승인권한
                                    	<br />
                                    	<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    		<input type="checkbox" class="group-checkable apprGroup" data-set="#menuMngTable .approvalCheckboxes" />
                                    		<span></span>
                                    	</label>                                    
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block tail %}
    <!-- datatable lib-->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script type="text/javascript">

        var userMenuMng_inq = function () {
        	var table = {};

            var setSelect2 = function () {
            	kpcUtil.setSelectBoxData({
            		target : "#parMenuId", 
            		apiUrl : "/api/systemMng/menus",
            		params : "selType=1",
            		type   : "GET",
            		option : {width : 220},	
            		callBack : function (resultData,target,option){
            			for(var idx in resultData.data){
            				$(target).append($("<option></option>")
            						.attr("value" , resultData.data[idx].menuId)
            						.text(resultData.data[idx].name + " [" + resultData.data[idx].menuId + "]" ));
            			}
            			$(target).select2(option);            			
            		}
            	});
            }
            var setDataTable = function () {
                table = $('#menuMngTable')
                    .dataTable(
                        {
                            "processing": true,
                            "serverSide": true,
                            "deferLoading" : 0,
                            "ajax": {
                                "url": "/api/systemMng/employee/auth-list",
                                "async" : "true",
                                "data": function (parameter) {
                                	parameter.selType  = "2";
                                    parameter.formData = $("#userMenuMngForm").serializeObject();
                                },
                                "error" : function (e){kpcUtil.sessionExpire(e);}
                            },
                            "ordering": false,
                            "drawCallback": function (settings) {
                                for (var i = 0, iLen = settings.aiDisplay.length; i < iLen; i++) {
                                    $('td:eq(0)', settings.aoData[settings.aiDisplay[i]].nTr).html(i + 1 + settings._iDisplayStart);
                                    settings.json.data[i].rownum = i + 1 + settings._iDisplayStart;
                                 	// 상세보기 버튼
                                    var detailButton = '<button class="btn btn-sm green btn-outline filter-submit margin-bottom-0 det" ';
                                		detailButton += 'menuId="' + settings.json.data[i].menuId+ '" >';
                                 		detailButton += '<i class="fa fa-search"></i>상세 보기</button>';
                                    $('td:eq(10)', settings.aoData[settings.aiDisplay[i]].nTr).html(detailButton);
                                    // 추가 버튼
                                    var addButton = '<button class="btn btn-sm green btn-outline filter-submit margin-bottom-0 add" ';
                                		addButton += 'menuId="' + settings.json.data[i].menuId+ '" >';
                                 		addButton += '<i class="fa fa-search"></i>추가</button>';
                                    $('td:eq(11)', settings.aoData[settings.aiDisplay[i]].nTr).html(addButton);
                                }
                                $(".selGroup").prop("checked" , false); // 전체 체크 박스 해제
                                $(".insGroup").prop("checked" , false); // 전체 체크 박스 해제
                                $(".updGroup").prop("checked" , false); // 전체 체크 박스 해제
                                $(".delGroup").prop("checked" , false); // 전체 체크 박스 해제
                                $(".apprGroup").prop("checked" , false); // 전체 체크 박스 해제
                            },
                            columns: [
                                {data: "rownum", defaultContent: "", width : 80, className: "column-align-right"},      // 순번
                                {data: "menuId", defaultContent: "", className: "column-align-center"},    // 사번
                                {data: "name", defaultContent: "",className: "column-align-center"},                    // 메뉴명
                                {
                                	orderable : false,
                                	className : "checkboxes column-align-center",
                                	render : function (data, type, full, meta){
                                		var checked = full.selFlag == "1" ? ' checked="checked"' : '';
                                		var checkbox_html = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">'
                                						  + '<input type="checkbox" class="selCheckboxes" name="selFlag" value="'+full.selFlag+'"'
                                						  + checked
                                						  + '>'
                                		                  + '<span></span>'
                                		                  + '</label>';
                                		console.log(checkbox_html);
                                		return checkbox_html;
                                	}
                                }, // 조회권한
                                {
                                	orderable : false,
                                	className : "checkboxes column-align-center",
                                	render : function (data, type, full, meta){
                                		var checked = full.insFlag == "1" ? ' checked="checked"' : '';
                                		var checkbox_html = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">'
                                						  + '<input type="checkbox" class="insCheckboxes" name="insFlag" value="'+full.insFlag+'"'
                                						  + checked
                                						  + '>'
                                		                  + '<span></span>'
                                		                  + '</label>';
                                		return checkbox_html;
                                	}
                                }, // 등록
                                {
                                	orderable : false,
                                	className : "checkboxes column-align-center",
                                	render : function (data, type, full, meta){
                                		var checked = full.updFlag == "1" ? ' checked="checked"' : '';
                                		var checkbox_html = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">'
                                		                  + '<input type="checkbox" class="updCheckboxes" name="updFlag" value="'+full.updFlag+'"'
                                		                  + checked
                                		                  +'>'
                                		                  + '<span></span>'
                                		                  + '</label>';
                                		return checkbox_html;
                                	}
                                }, // 수정
                                {
                                	orderable : false,
                                	className : "checkboxes column-align-center",
                                	render : function (data, type, full, meta){
                                		var checked = full.delFlag == "1" ? ' checked="checked"' : '';
                                		var checkbox_html = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">'
                                		                  + '<input type="checkbox" class="delCheckboxes" name="delFlag" value="'+full.delFlag+'"'
                                		                  + checked
                                		                  + '>'
                                		                  + '<span></span>'
                                		                  + '</label>';
                                		return checkbox_html;
                                	}
                                }, // 삭제
                                {
                                	orderable : false,
                                	className : "checkboxes column-align-center",
                                	render : function (data, type, full, meta){
                                		var checked = full.apprFlag == "1" ? ' checked="checked"' : '';
                                		var checkbox_html = '<label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">'
                                		                  + '<input type="checkbox" class="approvalCheckboxes" name="apprFlag" value="'+full.apprFlag+'"'
                                		                  + checked
                                		                  + '>'
                                		                  + '<span></span>'
                                		                  + '</label>';
                                		return checkbox_html;
                                	}
                                }, // 승인
                            ],
                            buttons: [
                                {% if admin_view.pageAuth["insFlag"] == "1" %}
                                {
                                    text: '등록',
                                    className: 'btn green btn-outline ',
                                    action: function (e, dt, node, config) {
                                    		if($("#empId").val() === ""){
                                    			kpcUtil.customAlert("사원번호를 입력하세요.");
                                    			$("#empId").focus();
                                    			return false;
                                    		}
                                    		if(kpcUtil.confirm("저장 하시겠습니까?")){
		                                    	var dataArray = new Array();
		                                    	table.find("tbody >tr").each(function (){
		                                    		var object = new Object();
		                                    		object.empId = $("#empId").val();
		                                    		object.menuId = $(this).find("td").eq(1).text();
		                                    		object.selFlag = $(this).find("td").eq(3).find("input").prop("checked") ?  "1" : "0";
		                                    		object.insFlag = $(this).find("td").eq(4).find("input").prop("checked") ?  "1" : "0";
		                                    		object.updFlag = $(this).find("td").eq(5).find("input").prop("checked") ?  "1" : "0";
		                                    		object.delFlag = $(this).find("td").eq(6).find("input").prop("checked") ?  "1" : "0";
		                                    		object.apprFlag = $(this).find("td").eq(7).find("input").prop("checked") ?  "1" : "0";
		                                    		dataArray.push(object);
		                                    	});
                                                $.ajax({
                                                    url: "/api/systemMng/employee/auth",
                                                    data: JSON.stringify(dataArray),
                                                    type: 'POST',
                                                    dataType : "json",
                                                    contentType  : "application/json",
                                                    async : true,
                                    			}).done(function(resultData,status,jqXhr){
                                    				if (resultData.status == 200) {
                                    					kpcUtil.customAlert("메뉴별 권한이 수정되었습니다.");
                                    				} else if (resultData.status == 500) {
                                    					kpcUtil.customAlert(resultData.message);
                                    				}
	                                            }).fail(function(e){
	                                            	kpcUtil.errorHandling(e);
	                                            });
                                    		}
                                    }
                                },
                                {% endif %}
								{
                                    text: '조회',
                                    className: 'btn green btn-outline  ',
                                    action: function (e, dt, node, config) {
                                    	if($("#empId").val() === ""){
                                    		kpcUtil.customAlert("사원번호를 입력 바랍니다.");
                                    		$("#empId").focus();
                                    		return false;
                                    	}
                                        table.fnFilter();
                                    }
                                }
                            ],
                            "dom": "<'row' <'col-md-12 col-sm-12'B>><'table-scrollable'tr>",
                            responsive: true,
                            "language": {
                                "aria": {
                                    "sortAscending": ": activate to sort column ascending",
                                    "sortDescending": ": activate to sort column descending"
                                },
                                "info":"Total Record: _TOTAL_ Page : _PAGE_ / _PAGES_ ",
                                "emptyTable": "조회된 자료가 없습니다.",
                                "infoEmpty": "조회된 자료가 없습니다.",
                                "zeroRecords": "조회된 자료가 없습니다."
                            },
                        }
                    );
            }
            
            var setPageEvents = function (){
            	kpcUtil.setAllChecked(".selGroup");
            	kpcUtil.setAllChecked(".insGroup");
            	kpcUtil.setAllChecked(".updGroup");
            	kpcUtil.setAllChecked(".delGroup");
            	kpcUtil.setAllChecked(".apprGroup");
    			// 조회 이벤트
            	kpcUtil.serachFormEvent({
            		selects : "#userMenuMngForm select",
            		inputs : "#userMenuMngForm input",
            		callback : function (){
                    	if($("#empId").val() === ""){
                    		kpcUtil.customAlert("사원번호를 입력 바랍니다.");
                    		$("#empId").focus();
                    		return false;
                    	}            			
            			table.fnFilter();
            		}
            	});              	
            }

            return {
                init : function (){
                    setSelect2();
                    setDataTable();
                    setPageEvents();
                }
            }
        }

        $(document).ready(function () {
            userMenuMng_inq().init();
        });
    </script>
{% endblock %}