<!-- extend base layout -->
{% extends "views/master.html" %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>대표 거래처 상세</h3>
                <h5><span class="red">[홈 > 거래처 관리 > 거래처 조회 > 대표/일반 거래처 조회 > 대표 거래처 상세]</span></h5>
            </div>

        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="form">
                        <form action="#" id="merchantForm" class="form-bordered ">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">- 대표 거래처 정보 </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 거래처 코드</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg" >
                                        <span id="merchantId" class=" col-md-3 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 거래처 명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg" >
										<span id="name" class=" col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 성명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
                                        <span id="ceoName" class=" col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">개업일</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
                                        <span class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle" id="openDate" isDateField="true"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">사업자 번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
										<span id="bizRegNo" class=" col-md-7 col-xs-12 span-vertical-middle" isBzno="true"></span>
                                    </div>
                                </div>                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">법인등록번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
										<span id="corpRegNo" class=" col-md-7 col-xs-12 span-vertical-middle" ></span>
                                    </div>
                                </div>    
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">업종</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
	                                    <span class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle" id="bizKind" ></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">업태</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
	                                    <span class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle" id="bizCond" ></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">우편번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
										<span id="zipcode" class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">주소</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
										<span id="address" class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">상세주소</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
										<span id="addressDetail" class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처구분</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
	                                    <span class=" col-lg-12 col-md-7 col-xs-12 span-vertical-middle" id="bizGrpName" ></span>
                                    </div>
                                </div>                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
										<span id="tel"  class=" col-md-7 col-xs-12 span-vertical-middle" isTel="true"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 팩스번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
										<span id="fax" class=" col-md-7 col-xs-12 span-vertical-middle" isTel="true"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">사용여부</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12  form-border-left-lg">
                                        <span id="useFlagName" class=" col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처 수</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-border-left-lg">
                                        <span id="submerchantCnt" class=" col-md-7 col-xs-12 span-vertical-middle"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br>
						<div class="column-align-right">
							<a class="dt-button btn green btn-outline" href="/merchants/inquiry/merchantInq"><span>목록</span></a>                        
							{% if admin_view.pageAuth["insFlag"] == "1" %}
							<a class="dt-button btn green btn-outline" href="/merchants/merchant/merchantReg?merchantId={{admin_view.merchantId}}"><span>거래처등록</span></a>
							{% endif %}

							{% if admin_view.pageAuth["updFlag"] == "1" %}
							<button type="button" id="updateApprovalRequestBtn" class="dt-button btn green btn-outline"  >수정</button>
							{% endif %}  

							{% if admin_view.pageAuth["delFlag"] == "1" %}
							<button type="button" id="deleteApprovalRequestBtn" class="dt-button btn red btn-outline">삭제</button>
							{% endif %}
	                    </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">- 일반 거래처 정보 </label>
                            </div>
                        </div>                                    
                        <table id="merchantsTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>순번</th>
                                    <th>구분</th>
                                    <th>거래처명</th>
                                    <th>거래처약칭</th>
                                    <th>서비스수</th>
                                    <th>상태</th>
                                    <th>최종변동일</th>
                                    <th>수정</th>
                                    <th>비고</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- 삭제 승인요청 modal include -->
{% include 'views/pages/common/approval/popup/approval-request-delete-modal.html' %}

{% endblock %}

{% block tail %}
    <!-- datatable lib-->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/assets/js/merchant.js"></script>
    <script src="/assets/js/approval/approval.js"></script>
{% if admin_view.pageAuth["insFlag"] == "1" %}
	<script src="/assets/js/approval/merchant/merchant.js"></script>
{% endif %}
    <!-- jQuery validation -->
    
    <script type="text/javascript">

        var merchant_inq = function () {
            var setDataTable = function () {
                var table = $('#merchantsTable')
                    .on('click', '.det', function () {
                    	location.href="/merchants/merchant/merchantDetail?merchantId=" + $(this).attr("merchantId");
                    })                
                    .on('click', '.upt', function () {
                    	location.href = "/merchants/sub-merchant/update?merchantId=" + $(this).attr("merchantId");
                    	//subMerchantUpdate($(this).attr("merchantId"),function (){ table.fnFilter()});
                    })                
                    .dataTable(
                        {
                            "processing": true,
                            "serverSide": true,
                            "ajax": {
                                "url": "/api/merchants",
                                "async" : "true",
                                "data": function (parameter) {
        	                    	var params = {
        		                    		"childId" : "{{admin_view.merchantId}}", 	
        		                    	};
        	                    	parameter.formData = JSON.stringify(params);
                                },
                                "error" : function (e){kpcUtil.sessionExpire(e);}
                            },
                            "ordering": false,
                            "drawCallback": function (settings) {
                                for (var i = 0, iLen = settings.aiDisplay.length; i < iLen; i++) {
                                    $('td:eq(0)', settings.aoData[settings.aiDisplay[i]].nTr).html(i + 1 + settings._iDisplayStart);
                                    settings.json.data[i].rownum = i + 1 + settings._iDisplayStart;
                                    {% if admin_view.pageAuth["updFlag"] == "1" %}
                                 	// 수정 버튼
                                    var uptButton = '<button class="btn btn-sm green btn-outline filter-submit margin-bottom-0 upt" '
                                        + 'merchantId="' + settings.json.data[i].submerchantId + '">'
                                        + '<i class="fa fa-search"></i>수정</button>'
                                    $('td:eq(7)', settings.aoData[settings.aiDisplay[i]].nTr).html(uptButton);
                                    {% endif %}
                                }
                                
                                $(".group-checkable").prop("checked" , false); // 전체 체크 박스 해제
                                if(settings.aiDisplay.length > 0){
                                	$(".merchantReg").text("거래처추가");
                                }
                            },
                            columns: [
                                {data: "rownum", defaultContent: "", width: 70,className: "column-align-right"}, // 순번
                                {
                                	data : "merchantId" ,
	                                defaultContent: "", 
	                                className: "column-align-center",
	                                width : 60,
	                                render : function (data, type , full , meta){
	                                	return "일반";
	                                }
                                },  //  
                                {
                                	data : "name" ,
	                                defaultContent: "", 
	                                className: "column-align-center",
	                                render : function (data, type , full , meta){
	                                	return '<a class="blue det" href="javascript:;" merchantId="' + full.submerchantId + '" >' + full.name + '</a>';
	                                }
                                },  // 구분                                      
                                {data: "alias", defaultContent: "",className: "column-align-center"},               // 약칭
                                {data: "childCnt", defaultContent: "", width: 90,className: "column-align-right"},   // 서비스수
                                {data: "useFlag", defaultContent: "", width: 110, className: "column-align-center"},        // 상태
                                {data: "updateDt", defaultContent: "", width: 110, className: "column-align-center"},        // 최종변동일
                                {data: "detail", defaultContent: "", width: 90, className: "column-align-center"},              // 수정
                                {data: "", defaultContent: "", width: 110, className: "column-align-center"},             // 비고
                            ],
                            buttons: [
/*                                 {
                                    text: '관리 이력 조회',
                                    className: 'btn purple btn-outline ',
                                    action: function (e, dt, node, config) {
                                        kpcUtil.customAlert("관리 이력 조회");
                                    }
                                }, 
                                {% if admin_view.pageAuth["updFlag"] == "1" %}
                                {
                                    text: 'history',
                                    className: 'btn green btn-outline ',
                                    action: function (e, dt, node, config) {
                    			   		kpcUtil.openCommonPopup({
                    			   			modalTitle : "거래처 수정 이력",
                    			   			modalSize : "modal-full",
                    			   			modalType : "URL",
                    			   			URL : "/approval/merchant/historyPop?historyType=APPR-0101",
                    			   			method : "GET",		   			
                    			   		});					           			
                                    }
                                },
                                {% endif %}                                
                                */
                            ],
                            "lengthMenu": [[10, 20, 30, 50, 200], [10, 20, 30, 50, 200]],
                            "pageLength": 10,
                            "dom": "<'row' <'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'B>><'table-scrollable'tr><'row'<'col-md-6 col-sm-6'i><'col-md-6 col-sm-6'p>>",
                            responsive: true,
                            "language": {
                                "aria": {
                                    "sortAscending": ": activate to sort column ascending",
                                    "sortDescending": ": activate to sort column descending"
                                },
                                "info":"Total Record: _TOTAL_ Page : _PAGE_ / _PAGES_ ",
                                "emptyTable": "조회된 자료가 없습니다.",
                                "infoEmpty": "조회된 자료가 없습니다.",
                                "lengthMenu": "_MENU_",
                                "zeroRecords": "조회된 자료가 없습니다."
                            },
                        }
                    );
            }
            
            var selectRepresent = function (){
            	{% if admin_view.isNew == "false" %}
				$.ajax({
                    url: "/api/merchants/merchant/represent",
                    data : "merchantId=" + "{{admin_view.merchantId}}",
                    type: 'GET',
                    dataType : "json",
                    contentType  : "application/json",
                    async : true,
                    success: function(data){
                    	kpcUtil.setFormData("#merchantForm" , data)
                    },
                    error : function(e){
                    	kpcUtil.errorHandling(e);
                    }
                });
				{% endif %}
            }

            var setPageEvents = function (){
            	selectRepresent();
           		$("#historyBtn").click(function (){
			   		kpcUtil.openCommonPopup({
			   			modalTitle : "거래처 등록 이력",
			   			modalSize : "modal-full",
			   			modalType : "URL",
			   			URL : "/approval/merchant/historyPop?historyType=APPR-0101",
			   			method : "GET",		   			
			   		});					           			
           		});            	
            	
           		$("#updateApprovalRequestBtn").click(function () {
           			
            		var isExist = approval.existApprovalRequest("{{admin_view.merchantId}}");
            		if (!isExist) {
            			location.href = "/merchants/update?merchantId={{admin_view.merchantId}}"
            		}
           		})
       		}
           		
            return {
                init : function (){
                    setDataTable();
                    setPageEvents();
                }
            }
        }

        $(document).ready(function () {
            merchant_inq().init();
            
          //임포트한 삭제 승인 요청 모달 초기화
            approvalReuestDeleteModal("{{admin_view.merchantId}}", "MENU-0001", "AWRK-0001");
        });

    </script>
{% endblock %}