<!-- extend base layout -->
{% extends "views/master.html" %}

{% block body %}
<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>거래처 수정</h3>
                <h5><span class="red">[홈 > 거래처 관리 > 거래처 조회 > 대표/일반 거래처 조회 > 대표 거래처 상세 > 거래처 수정]</span></h5>
            </div>
        </div>


        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="form">
                        <input type="hidden" name="beforeApprEmpId" id="beforeApprEmpId">
                        <input type="hidden" name="beforeReqMemo" id="beforeReqMemo">
                        <form action="#" id="merchantUpdateForm" class="form-bordered ">
                            <input type="hidden" id="parentId" name="parentId" >
                            <input type="hidden" id="reqMemo" name="reqMemo" >
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">- 거래처 정보 </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처 코드</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                   		<i class="fa"></i>
                                        <input type="text" id="subMerchantId" name="subMerchantId" class="form-control col-md-3 col-xs-12" readonly="readonly">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처 명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                   		<i class="fa"></i>
										<input type="text" id="name" name="name" class="form-control col-md-7 col-xs-12 lang-ko"  >
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처약칭</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                   		<i class="fa"></i>
										<input type="text" id="alias" name="alias" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    	<span>
                                    		<b>[세금계산서 정보]</b>
                                    	</span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" id="taxDiv">                          
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 성명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
                                        <input type="text" id="ceoName" name="ceoName" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">개업일</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
                                        <input type="text" class="form-control input-date-picker" id="openDate" name="openDate" isDateField="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">사업자등록번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="bizRegNo" name="bizRegNo" class="form-control col-md-7 col-xs-12" maxlength="12" isBzno="true">
                                    </div>
                                </div>                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">법인등록번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="corpRegNo" name="corpRegNo" class="form-control col-md-7 col-xs-12" maxlength="13">
                                    </div>
                                </div>                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">업태</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="bizCond" name="bizCond" class="form-control col-lg-12 col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">업종</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="bizKind" name="bizKind" class="form-control col-lg-12 col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">우편번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="zipCode" name="zipCode" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">주소</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="address" name="address" class="form-control col-lg-12 col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12 ">상세주소</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="addressDetail" name="addressDetail" class="form-control col-lg-12 col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">거래처구분</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
	                                    <select class="form-control" id="bizGrp" name="bizGrp" >
	                                    </select>                                         
                                    </div>
                                </div>                                                                
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="tel" name="tel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">대표 팩스번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="fax" name="fax" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>                              
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[전자세금계산서 발행정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">세금계산서 담당자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="taxCustNm" name="taxCustNm" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">전화번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="taxTel" name="taxTel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">팩스번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="taxFax" name="taxFax" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">핸드폰번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="taxPhone" name="taxPhone" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">E-MAIL</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="taxEmail" name="taxEmail" class="form-control col-lg-12 col-lg-7 col-xs-12">
                                    </div>
                                </div>                                
                            </div>                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[계좌정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">은행명</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<select class="form-control isSelectValid" id="bankNm" name="bankNm">
											<option value="">선택</option>
	                                    </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12 input-icon left">계좌번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="bankAccNo" name="bankAccNo" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">예금주</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="bankHolder" name="bankHolder" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[거래처 담당자정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">영업담당자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline ">
										<input type="text" id="salesNm" name="salesNm" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">영업담당자 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="salesTel" name="salesTel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">정산담당자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline ">
										<input type="text" id="billingNm" name="billingNm" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">정산담당자 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="billingTel" name="billingTel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>                                
                            </div>                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[KPC 담당자정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">영업담당자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline ">
										<input type="text" id="kpcSalesNm" name="kpcSalesNm" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">영업담당자 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="kpcSalesTel" name="kpcSalesTel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">정산담당자</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline ">
										<input type="text" id="kpcBillingNm" name="kpcBillingNm" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">정산담당자 연락처</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="kpcBillingTel" name="kpcBillingTel" class="form-control col-md-7 col-xs-12" isTel="true">
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[연동정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">에이전트 아이디</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="text" id="agentId" name="agentId" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">에이전트 비밀번호</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline input-icon left">
                                    	<i class="fa"></i>
										<input type="password" id="agentPw" name="agentPw" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                            </div>                            
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group ">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12"><b>[기타정보]</b></label>
                                </div>
                            </div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-left form-border-right ">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">사용여부</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
	                                    <select class="form-control" id="useFlag" name="useFlag" >
	                                    	<option value="Y">사용</option>
	                                    	<option value="N">미사용</option>
	                                    </select>  
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 form-group form-border-right form-border-left-xs">
                                    <label class="control-label col-lg-3 col-md-12 col-sm-12 col-xs-12">홈페이지 URL</label>
                                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 form-inline">
										<input type="text" id="urlHome" name="urlHome" class="form-control col-lg-12 col-md-12 col-xs-12">
                                    </div>
                                </div>
                            </div>                            
                        </form>
	                    <br />
	                    <div class="column-align-right">
							{% if (admin_view.pageAuth["updFlag"] == "1")  and ((admin_view.reApproval == "true")  and (admin_view.updateApproval == "false")) or ((admin_view.reApproval == "false")  and (admin_view.updateApproval == "false")) %}
							<button type="button" id="updateApprovalRequestBtn" class="dt-button btn green btn-outline"><span>수정</span></button>
							{% elif (admin_view.pageAuth["updFlag"] == "1") and (admin_view.updateApproval == "true") %}
							<a id="updateApprovalInfoBtn" class="dt-button btn green btn-outline" href="javascript:;"><span>수정</span></a>
							{% endif %}
							{% if admin_view.pageAuth["selFlag"] == "1" %}
							<a id="returnListBtn" class="dt-button btn blue btn-outline" href="/merchants/inquiry/merchantInq"><span>목록</span></a>
							{% endif %}
	                    </div>                                
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- 승인요청 modal include -->
{% include 'views/pages/common/approval/popup/approval-request-update-modal.html' %}
{% include 'views/pages/common/approval/popup/approval-request-info-update-modal.html' %}

{% endblock %}

{% block tail %}
    <!-- datatable lib-->
    <script src="/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/bower_components/datatables.net-bs/js/dataTables.bootstrap.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/bower_components/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/bower_components/jszip/dist/jszip.min.js"></script>
    <script src="/bower_components/pdfmake/build/pdfmake.min.js"></script>
    <script src="/bower_components/pdfmake/build/vfs_fonts.js"></script>
    <script src="/assets/js/approval/approval.js"></script>
{% if admin_view.pageAuth["updFlag"] == "1" %}
	<script src="/assets/js/approval/merchant/submerchant.js"></script>
{% endif %}        

    <script type="text/javascript">

  	if ('{{admin_view.pageAuth["updFlag"] == "1"}}' === "False") {
  		$("#updateApprovalRequestBtn").prop("disabled", true);
  	}
    	
	  	
        var merchant_inq = function () {
	    	var bankCode;
        	var bizGrp;
        	var useFlag;
        	var approvalInfo;
        	
			function setDatePicker(){
			    kpcUtil.setDatePicker('#merchantUpdateForm #openDate');
			}            
        	
        	var setSelect2 = function () {
                $("#bizGrp").select2({
                    width: 150,
                }); 
                $("#useFlag").select2({
                    width: 150,
                }); 
            }
        	
			//거래처 정보 조회
        	var setViewData = function() {
            	setDatePicker();
            	setFormValidate();
            	
            	if(("{{admin_view.reApproval}}" === "false") && ("{{admin_view.updateApproval}}" == "false")) {
            		setMerchantInfo();
            	}
            	else if (("{{admin_view.reApproval}}" === "true") || ("{{admin_view.updateApproval}}" == "true")) {
            		setApprovalContentInfo();
            	}
            	
            	setPageEvents();
        	}
			
			var setMerchantInfo = function() {
				
				
    			$.ajax({
                    url: "/api/merchants/merchant?merchantId="+"{{admin_view.merchantId}}",
                    type:'GET',
                    dataType : "json",
                    contentType  : "application/json",
                }).done(function(result){
                	$("#subMerchantId").val(result.submerchantId); //대표 거래처명
                	$("#parentId").val(result.parentId); //대표 거래처명
                	$("#name").val(result.name); //대표 거래처명
                	$("#alias").val(result.alias); //대표 거래처 약칭
                	
                	$("#ceoName").val(result.ceoName); //대표 성명
                	
                	$("#openDate").val(kpcUtil.setDateFormat(result.openDate, "YYYY-MM-DD"));
                	
                	$("#bizRegNo").val(kpcUtil.setBznoFormat(result.bizRegNo)); //사업자등록번호
                	$("#corpRegNo").val(result.corpRegNo); //법인등록번호
                	$("#bizCond").val(result.bizCond); //업태
                	$("#bizKind").val(result.bizKind); //업종
                	$("#zipCode").val(result.zipcode); //우편번호
                	$("#address").val(result.address); //주소
                	$("#addressDetail").val(result.addressDetail); //상세주소
                	$("#bizGrp").val(result.bizGrp); //거래처구분
                	$("#tel").val(kpcUtil.setTelFormat(result.tel)); //대표 연락처
                	$("#fax").val(result.fax); //대표 팩스 번호
                	
                	$("#taxCustNm").val(result.taxCustNm); //세금계산서 담당자
                	$("#taxTel").val(result.taxTel); //전화번호
                	$("#taxFax").val(result.taxFax); //팩스번호
                	$("#taxPhone").val(result.taxPhone); //핸드폰 번호
                	$("#taxEmail").val(result.taxEmail); //전자세금계산서 E-MAIL
                	
                	$("#bankNm").val(result.bankCd); //은행명
                	$("#bankAccNo").val(result.bankAccNo); //계좌번호
                	$("#bankHolder").val(result.bankHolder); //예금주
                	
                	//거래처 담당자 정보
                	$("#salesNm").val(result.salesNm); //영업담당자
                	$("#salesTel").val(result.salesTel); //영업담당자 연락처
                	$("#billingNm").val(result.billingNm); //정산담당자
                	$("#billingTel").val(result.billingTel); //정산담당자 연락처

                	//KPC 담당자 정보
                	$("#kpcSalesNm").val(result.kpcSalesNm); //영업담당자
                	$("#kpcSalesTel").val(result.kpcSalesTel); //영업담당자 연락처
                	$("#kpcBillingNm").val(result.kpcBillingNm); //정산담당자
                	$("#kpcBillingTel").val(result.kpcBillingTel); //정산담당자 연락처
                	
                	$("#agentId").val(result.agentId); // 에이전트 아이디
                	$("#agentPw").val(result.agentPw); // 에이전트 비밀번호
               	 	
                	$("#useFlag").val(result.useFlag); //사용여부
                	$("#urlHome").val(result.urlHome); // 홈페이지
                	
                	bankCode = result.bankCd;
                	bizGrp = result.bizGrp;
                	useFlag = result.useFlag;
                	
        			setCommonCode();

                	$("#merchantUpdateForm").valid();
                
                }).fail(function(e){
            		kpcUtil.errorHandling(e);
          	    });
			}
			
			var setApprovalContentInfo = function() {
	    		$.ajax({
	                url: "/api/approvals/detail/"+"{{admin_view.apprSeq}}",
	                type:'GET',
	                dataType : "json",
	                contentType  : "application/json",
	            }).done(function(result){

	            	if (result.status === 200) {
		            	approvalInfo = result.data.approvalInfo
		            	var basic = result.data.content.subMerchant
		            	var detail= result.data.content.subMerchant.detail
	                	$("#subMerchantId").val(basic.subMerchantId); //대표 거래처명
	                	$("#name").val(basic.name); //대표 거래처명
	                	$("#alias").val(basic.alias); //대표 거래처 약칭
	                	
	                	$("#ceoName").val(detail.ceoName); //대표 성명
	                	
	                	$("#openDate").val(kpcUtil.setDateFormat(detail.openDate, "YYYY-MM-DD"));
	                	
	                	$("#bizRegNo").val(kpcUtil.setBznoFormat(detail.bizRegNo)); //사업자등록번호
	                	$("#corpRegNo").val(detail.corpRegNo); //법인등록번호
	                	$("#bizCond").val(detail.bizCond); //업태
	                	$("#bizKind").val(detail.bizKind); //업종
	                	$("#zipCode").val(detail.zipCode); //우편번호
	                	$("#address").val(detail.address); //주소
	                	$("#addressDetail").val(detail.addressDetail); //상세주소
	                	$("#bizGrp").val(detail.type); //거래처구분
	                	$("#tel").val(kpcUtil.setTelFormat(detail.tel)); //대표 연락처
	                	$("#fax").val(detail.fax); //대표 팩스 번호
	                	
	                	$("#taxCustNm").val(detail.taxCustName); //세금계산서 담당자
	                	$("#taxTel").val(detail.taxTel); //전화번호
	                	$("#taxFax").val(detail.taxFax); //팩스번호
	                	$("#taxPhone").val(detail.taxPhone); //핸드폰 번호
	                	$("#taxEmail").val(detail.taxEmail); //전자세금계산서 E-MAIL
	                	
	                	$("#bankNm").val(detail.bankName); //은행명
	                	$("#bankAccNo").val(detail.bankAccountNo); //계좌번호
	                	$("#bankHolder").val(detail.bankHolder); //예금주
	                	
	                	//거래처 담당자 정보
	                	$("#salesNm").val(detail.salesName); //영업담당자
	                	$("#salesTel").val(detail.salesTel); //영업담당자 연락처
	                	$("#billingNm").val(detail.billingName); //정산담당자
	                	$("#billingTel").val(detail.billingTel); //정산담당자 연락처

	                	//KPC 담당자 정보
	                	$("#kpcSalesNm").val(detail.kpcSalesName); //영업담당자
	                	$("#kpcSalesTel").val(detail.kpcSalesTel); //영업담당자 연락처
	                	$("#kpcBillingNm").val(detail.kpcBillingName); //정산담당자
	                	$("#kpcBillingTel").val(detail.kpcBillingTel); //정산담당자 연락처
	                	
	                	$("#agentId").val(basic.agentId); // 에이전트 아이디
	                	$("#agentPw").val(basic.agentPw); // 에이전트 비밀번호
	               	 	
	                	$("#useFlag").val(basic.useFlag); //사용여부
	                	$("#urlHome").val(detail.urlHome); // 홈페이지
	                	
	                	$("#beforeApprEmpId").val(approvalInfo.apprEmpId); // 선택한 승인자
	                	$("#beforeReqMemo").val(approvalInfo.reqMemo); // 승인 요청 사유
	                	
	                	
	                	bankCode = detail.bankName;
	                	bizGrp = detail.type;
	                	useFlag = basic.useFlag;
                	}
        			setCommonCode();
                	$("#merchantUpdateForm").valid();
	            	
	            }).fail(function(e){
	        		kpcUtil.errorHandling(e);
	      	    });
			}
			
        	
			//필수 입력값 유효성 검증
        	function setFormValidate(){
        	    $("#merchantUpdateForm").validate({
        	        errorElement: 'span', //default input error message container
        	        errorClass: 'help-block help-block-error', // default input error message class
        	        rules: {
                    	name : {
                            required : true,
                        },
                    	alias : {
                            required : true,
                        },
                        bizKind : {
                            required : true,
                        },
                        bizCond : {
                            required : true,
                        },
                        ceoName : {
                            required : true,
                        },
                        zipcode : {
                            required : true,
                        },
                        address : {
                            required : true,
                        },
                        addressDetail : {
                            required : true,
                        },
                        tel : {
                            required : true,
                        },
                        taxCustNm : {
                            required : true,
                        },
                        taxEmail : {
                            required : true,
                        },
                        bankNm : {
                        	required : true,
                        },
                        bankAccNo : {
                            required : true,
                        },
                        bankHolder : {
                            required : true,
                        },
                        agentId : {
                            required : true,
                        },
                        agentPw : {
                            required : true,
                        }
        	        },
        	        messages : {
                    	name : {
                            required : "대표 거래처명을 입력해주세요.",
                        },
                    	alias : {
                            required : "거래처 약칭을 입력해주세요.",
                        },                        
                        bizKind : {
                            required : "업종을 선택해주세요.",
                        },
                        bizCond : {
                            required : "업태를 선택해주세요.",
                        },
                        ceoName : {
                            required : "대표 성명을 입력해주세요.",
                        },
                        zipcode : {
                            required : "우편 번호를 입력해주세요.",
                        },
                        address : {
                            required : "주소를 입력해주세요.",
                        },
                        addressDetail : {
                            required : "상세주소를 입력해주세요.",
                        },
                        tel : {
                            required : "비밀번호를 입력해주세요.",
                        },
                        taxCustNm : {
                            required : "세금계산서 담당자를 입력해주세요.",
                        },
                        taxEmail : {
                            required : "Email을 입력해주세요.",
                        },                        
                        telSub : {
                            required : "대표 연락처를 입력해주세요.",
                        },
                        bankNm : {
                            required : "은행명을 선택해주세요.",
                        },
                        bankAccNo : {
                            required : "계좌번호를 입력해주세요.",
                        },
                        bankHolder : {
                            required : "예금주를 입력해주세요.",
                        },
                        agentId : {
                            required : "에이전트 아이디를 입력해주세요.",
                        },
                        agentPw : {
                            required : "에이전트 비밀번호를 입력해주세요.",
                        }                       
        	        },
        	        errorPlacement : function (error , element){
        	        	var icon = $(element).parent(".input-icon").children('i');
        	        	icon.removeClass('fa-check').addClass("fa-warning");
        	        	icon.attr("data-original-title" , error.text()).tooltip({"container" : "body"});
        	        },
        	        highlight: function (element) { // hightlight error inputs
        	           	$(element).closest('.form-group').addClass('has-error'); // set error class to the control group
        	        },
        	        success : function (label,element){
        	        	var icon = $(element).parent(".input-icon").children('i');
        	        	$(element).closest(".form-group").removeClass("has-error").addClass("has-success");
        	        	icon.removeClass('fa-warning').addClass("fa-check");
        	        },
        	    });
        	}
            
            var setPageEvents = function () {
     
            	$(".bzno").click(function (){
            		kpcUtil.bzNoCheck("#bizRegNo", "#merchantUpdateForm");         		
            	});
            	
            	$(".corpNo").click(function (){
            		kpcUtil.corpNoCheck("#corpRegNo", "#merchantUpdateForm");
            	});
            	
            	// 전화번호 , 사업자 번호 format 지정
            	kpcUtil.setFormTextFieldFormat({
            		target : "#merchantUpdateForm"
            	});
            }
            
            var setCommonCode = function (){
            	
      			kpcUtil.setSelectBoxData({
            		target : "#bizGrp", 
            		apiUrl : "/api/systemMng/common/commonCodes",
            		params : {type : 'MER'},
            		type   : "GET",
            		option : {width : 150},	
            		callBack : function (data,target,option){
            			for(var idx in data.data){
            				$(target).append($("<option></option>")
            						.attr("value" , data.data[idx].code)
            						.text(data.data[idx].codeName));
            			}
            			//거래처구분 값 설정
            			if (bizGrp !== undefined) {
	            			$(target).val(bizGrp).trigger("change");          
            			}
            		}
            	});
      			kpcUtil.setSelectBoxData({
            		target : "#bankNm", 
            		apiUrl : "/api/systemMng/common/commonCodes",
            		params : {type : 'BANK'},
            		type   : "GET",
            		option : {width : 150},	
            		callBack : function (data,target,option){
            			for(var idx in data.data){
            				$(target).append($("<option></option>")
            						.attr("value" , data.data[idx].code)
            						.text(data.data[idx].codeName));
            			}
            			//거래처구분 값 설정
            			if (bankCode !== undefined) {
	            			$(target).val(bankCode).trigger("change");          
            			}
            		}
            	});      			
      			//사용여부 값 설정
      			$("#useFlag").val(useFlag).trigger("change");
            }            
            return {
                init : function (){
                    setViewData();
                    setSelect2();
                }
            }
        }

        $(document).ready(function () {
            
            //임포트한 수정 승인 요청 모달 초기화
            approvalReuestUpdateModal("{{admin_view.merchantId}}", "merchantUpdateForm", "MENU-0001", "AWRK-0002"); //거래처 수정 승인 요청 모달
            approvalReuestInfoUpdateModal("{{admin_view.apprSeq}}", "merchantUpdateForm", "MENU-0001", "update", "AWRK-0002"); //승인 대기중인 거래처 정보 수정 모달
            merchant_inq().init();
        });

    </script>
{% endblock %}